<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
</head>
<body>
<section class="hero is-danger is-large">
    <div class="hero-body">
        <div class="container">
            <h1 class="title" th:text="${error}">
                Error Status
            </h1>
            <h2 class="subtitle" th:text="'Status code: '+ ${status}">
            </h2>
        </div>
    </div>
</section>
</body>
</html>