body {
    background-color: #f4f4f4;
}

.index-navbar {
    background-color: #ff6363;
}

.push-content-form {
    margin-top: 20px;
}

.login-form {
    background-color: #8ec6c5;
    border-radius: 3px;
}

.push-contents-form {
    background-color: #6983aa;
    border-radius: 3px;
}

.publish-contents-view {
    background-color: #6983aa;
    border-radius: 3px;
}