<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<nav class="navbar index-navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <!-- navbar items, navbar burger... -->
        <div class="navbar-item">
                        <span class="icon">
                            <i class="fas fa-lg fa-chess-rook"></i>
                        </span>
        </div>
    </div>
    <div class="navbar-menu">
        <!-- navbar start, navbar end -->
        <div class="navbar-start">
                <div class="navbar-item">
                    <a class="" th:href="@{/}">Home</a>
                </div>
                <div class="navbar-item">
                    <a class="" th:href="@{/admin}">Admin</a>
                </div>
        </div>
    </div>
</nav>
<section class="hero is-light is-large">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Site Home
            </h1>
            <h2 class="subtitle">
                Let's Have a Showcase!
            </h2>
        </div>
    </div>
</section>
</body>
</html>