<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Push Content</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="columns push-content-form">
    <div class="column is-2"></div>
    <div class="column is-8 push-contents-form">
        <h1 class="has-text-light has-text-weight-light is-family-sans-serif is-size-1">Publish Article</h1>
        <form th:action="@{/push-content}" th:object="${articleContent}" method="post">
            <div class="field">
                <div class="control">
                    <input class="input is-warning is-medium" type="text" th:field="*{title}" placeholder="Content Title">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-warning is-medium" type="text" th:field="*{imageLinks}" placeholder="Image Links">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-warning is-medium" type="text" th:field="*{tags}" placeholder="Tags">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <textarea class="textarea is-warning" type="text" th:field="*{fullContent}" placeholder="Full Contents" rows="12"></textarea>
                </div>
            </div>
            <div class="control">
                <input class="button is-warning" type="submit" value="Push">
            </div>
        </form>
    </div>
    <div class="column is-2"></div>
</div>
</body>
</html>